.nv-monitor {
    background-color: #FFFFFC;
    margin: 0 auto 10px auto;
    border: 5px solid #BBBCDE;
    border-top: none;
    height: 150px;
    overflow-y: scroll;
    font-family: monospace, serif;
}
.nv-terminal {
    border: 5px solid #BBBCDE;
    margin: auto;
}
.nv-error {
    animation: blinkError 1s step-end infinite alternate;
}
@keyframes blinkError {
    0% {
        background-color: #E60033;
        color: #FFFFFC;
    }
    50% {
        background-color: transparent;
        color: inherit;
    }
}
.nv-warning {
    animation: blinkWarning 1s step-end infinite alternate;
}
@keyframes blinkWarning {
    0% {background-color: #FFEC47;}
    50% {background-color: transparent;}
}

/* xterm */
.terminal {
    padding: 5px;
}
